{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
  integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Edit Sighting</title>
</head>
<nav class="navbar">
  <a class='brand' href="{% url 'index' %}">Bear Tracker</a>
  <ul>
      <li>
        <a href="{% url 'info' %}">Info</a>
      </li>
      <li>
        <a href="{% url 'safety' %}">Bear Safety</a>
      </li>
      <li>
        <a href="{% url 'addSighting' %}">Add a Sighting</a>
      </li>
    </ul>
</nav>
<body>
  <div>
    <div>
      <h2>Edit Sighting</h2>
    </div>
    <br>
    <form name="form" method="post" action="{% url 'updateSighting' %}">
      {% csrf_token %}
      <input type="hidden" id="sighting_id" name="sighting_id" value="{{record.id}}">
  
      <label for='bear_type'>Bear Type:</label>
      <select name="bear_type" id="bear_type" value="{{record.bear_type}}" required>
        <option value="Grizzly" {%if record.bear_type == "Grizzly"%} selected="selected" {%endif%}>Grizzly</option>
        <option value="Black" {%if record.bear_type == "Black"%} selected="selected" {%endif%}>Black</option>
        <option value="Polar" {%if record.bear_type == "Polar"%} selected="selected" {%endif%}>Polar</option>
        <option value="Panda" {%if record.bear_type == "Panda"%} selected="selected" {%endif%}>Panda</option>
      </select>
  
      <label for='bear_age'>Bear Age:</label>
      <select name="bear_age" id="bear_age" value="{{record.bear_age}}" required>
        <option value="Cub" {%if record.bear_age == "Cub"%} selected="selected" {%endif%}>Cub</option>
        <option value="Juvenile" {%if record.bear_age == "Juvenile"%} selected="selected" {%endif%}>Juvenile</option>
        <option value="Adult" {%if record.bear_age == "Adult"%} selected="selected" {%endif%}>Adult</option>
      </select>
  
      <label for='bear_count'>Bear Count:</label>
      <input type='number' step='1' name='bear_count' id='bear_count' value="{{record.bear_count}}" required>
  
      <label for='sighting_date'>Sighting Date:</label>
      <input type='date' name='sighting_date' id='sighting_date' value="{{record.sighting_date|date:"Y-m-d"}}" required>

      <label for='sighting_time'>Sighting Time:</label>
      <input type='time' name='sighting_time' id='sighting_time' value="{{record.sighting_time|time:'H:i'}}" required>
  
      <label for='sighting_location'>Sighting Location</label>
      <input type="text" name="sighting_location" id="sighting_location" value="{{record.sighting_location}}" required>

      <label for='sighting_notes'>Sighting Notes:</label>
      <textarea type='text' name='sighting_notes' class='textarea' id='sighting_notes'>{{record.sighting_notes}}</textarea>

      <button class="button" type="submit">Update</button>
    </form>
</body>
</html>